.gome-top{
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    background: #f8f8f8;
    height: 30px;
    color: #5e5e5e;
    z-index: 999;
}
.gome-top-main{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.gome-top-main .main_left{
    float: left;
}
.gome-top-main .main_right{
    float: right;
}
.gome-top li{
    float: left;
    position: relative;
    box-sizing: border-box;
}
.gome-top li b{
    display: block;
    padding: 0 20px 0 10px;
    border: 1px solid #f8f8f8;
    border-bottom: 0;
    height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 9;
    font: 400 12px/30px Arial,"Microsoft YaHei";
}
.gome-top li b a{
    text-decoration: none;
    color: #888;
}
.gome-top li em{
    left: 10px;
    width: 20px;
}
.gome-top li i,.gome-top li em{
    background-image: url('../../img/lh_img/ui.png');
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
}
.gome-top li i{
    position: absolute;
    top: 12px;
    right: 8px;
    background-position: -62px -433px;
    width: 7px;
    height: 4px;
    overflow: hidden;
}

#gome-user{
    margin-right: 12px;
    width: 80px;
}
#gome-user .gome-user{
    padding: 10px 15px;
    width: 290px;
    height: auto;
    border: 1px solid #e6e6e6;
    display: none;
    top: -1px;
    position: relative;
    background: #fff;
    left: 0;
    overflow: hidden;
}
.gome-user #user-name{
    padding: 5px 0 20px;
    overflow: hidden;
}
.gome-user #user-name i{
    background-position: 0 -337px;
    float: left;
    position: static;
    width: 55px;
    height: 55px;
    border-radius: 50px;
}
.gome-user #user-name div{
    float: left;
    font: 400 12px/20px Arial,"Microsoft YaHei";
    padding: 0 0 0 15px;
    width: 220px;
}
.gome-user #user-name p {
    padding-top: 20px;
    color: #888;
    width: 100%;
    line-height: 16px;
    overflow: hidden;
}
.gome-user #user-name p a{
    color: #006699;
    text-decoration: none;
}
.gome-user #user-icon{
    font: 400 12px/30px Arial,"Microsoft YaHei";
    border-top: 1px solid #f3f3f3;
    padding-top: 15px;
    position: relative;
}
.gome-user #user-icon p{
    color: #5E5E5E;
}
.gome-user #user-icon p a{
    float: right;
    color: #CCCCCC;
    text-decoration: none;
}
#user-icon .left_btn{
    position: absolute;
    top: 60px;
    width: 16px;
    height: 29px;
    cursor: pointer;
    background: url('../../img/lh_img/ui.png') -60px -357px;
    display: inline-block;
}
#user-icon .right_btn{
    right: 0;
    position: absolute;
    top: 60px;
    width: 16px;
    height: 29px;
    cursor: pointer;
    background: url('../../img/lh_img/ui.png') -76px -357px;
    display: inline-block;
}

#user-icon div{
    visibility: visible;
    overflow: hidden;
    position: relative;
    z-index: 2;
    left: 0px;
    width: 240px;
    margin: 10px 25px 0;
}
#user-icon div ul{
    position: relative;
    list-style-type: none;
    z-index: 1;
    width: 480px;
    overflow: hidden;
}
#user-icon div ul li{
    width: 80px;
    height: 70px;
}
#user-icon div ul li img{
    text-align: center;
    width: 40px;
}
#user-icon div ul li a{
    display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: #cccccc;
}
#user-icon div ul li a span{
    display: block;
    height: 30px;
    margin-top: -10px;
}
#loginDiv-link b{
    padding: 0 20px 0 0;
}
#loginDiv-link a{
    margin-right: 10px;
}
#loginDiv-link a:nth-of-type(2){
    color: #f5004b;
    margin-right: 5px;
}
#loginDiv-link a i{
    display: inline-block;
    width: 12px;
    height: 13px;
    background-position: -145px -1496px;
    margin-left: 5px;
    margin-top: -4px;
    background-repeat: no-repeat;
}
#gome-link b{
    padding-left: 0;
    padding-right: 10px;
}
#gome-link i{
    display: none;
}
#gome-mygome{
    width: 80px;
}
#gome-mygome .public-dropdown{
    display: none;
    font: 12px/24px Arial,"Microsoft YaHei";
    background: #FFFFFF;
    border: 1px solid #e6e6e6;
    top: -1px;
    position: relative;
    overflow: hidden;
    width: 260px;
    height: auto;
    color: #888888;
}
#gome-mygome .public-dropdown strong {
    display: block;
    font-weight: 900;
    padding: 10px 10px 0;
}
#gome-mygome .public-dropdown strong a{
    color: #006699;
    text-decoration: none;
}
#gome-mygome .public-dropdown ul{
}
#gome-mygome .public-dropdown ul:nth-of-type(1) {
    padding: 0 0 9px;
    margin: 0 10px;
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
}
#gome-mygome .public-dropdown ul:nth-of-type(1) li{
    float: left;
    width: 50%;
    line-height: 25px;
    height: 25px;
}
#gome-mygome .public-dropdown ul:nth-of-type(2) {
    padding-left: 4px;
}
#gome-mygome .public-dropdown ul:nth-of-type(2) li{
    float: left;
    width: 63px;
    text-align: center;
    padding: 8px 0 10px;
}
#gome-mygome .public-dropdown ul:nth-of-type(2) li a{
    text-decoration: none;
    display: block;
    line-height: 14px;
    margin: 5px 0;
    border-right: 1px solid #f3f3f3;
    color: #888888;
}
#gome-mygome .public-dropdown ul:nth-of-type(2) li ins{
    display: block;
    vertical-align: middle;
    color: #cdcdcd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}
#gome-mygome .public-dropdown>p{
    clear: both;
    background: #f8f8f8;
    padding: 10px;
    overflow: hidden;
}
#gome-mygome .public-dropdown ul:nth-of-type(3){
    background: #f8f8f8;
    padding: 0 0 18px 10px;
    height: 50px;
    overflow: hidden;
}

#gome-mygome .public-dropdown ul:nth-of-type(3) li{
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 12px 10px 0;
    background: url('../../img/lh_img/ui.png') 0 -397px;
}
#gome-enterprise{
    width: 80px;
}
#gome-enterprise .public-dropdown span{
    width: 100%;
    height: 100%;
    display: block;
    background: url("../../img/lh_img/ui.png")no-repeat 0 -1511px;
}
#gome-enterprise .public-dropdown{
    display: none;
    background: #FFFFFF;
    border: 1px solid #e6e6e6;
    top: -1px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    font-size: 0;
    width: 200px;
    height: 200px;
    right: 152px;
}

#gome-service{
    width: 104px;
}

#gome-service .public-dropdown{
    display: none;
    background: #FFFFFF;
    border: 1px solid #e6e6e6;
    top: -1px;
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
    width: 210px;
    height: auto;
    font: 700 12px/24px Arial,"Microsoft YaHei";
}
#gome-service .public-dropdown p{
    color: #898989;
}
#gome-service .public-dropdown ul{
    padding: 0 0 10px;
    height: 48px;
    overflow: hidden;
}
#gome-service .public-dropdown ul li{
    float: left;
    font: 12px/24px Arial,"Microsoft YaHei";
    width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #888888;
}
#gome-service .public-dropdown a{
    background: url("../../img/lh_img/kefu-white.png")no-repeat 30%;
    background-size:16px 16px;
    color: #fff;
    background-color: #dd00a7;
    text-align: center;
    display: block;
    line-height: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 4px;
    text-decoration: none;
}


#gome-sitemap{
    width: 80px;
}
#gome-sitemap .public-dropdown{
    display: none;
    background: #FFFFFF;
    border: 1px solid #e6e6e6;
    top: -1px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    font-size: 0;
    width: 1168px;
    height: 170px;
    right: 1016px;
}
#gome-sitemap .public-dropdown dl:nth-of-type(1){
    border: none;
}
#gome-sitemap .public-dropdown dl{
    float: left;
    padding: 0 15px 0 40px;
    border-left: 1px solid #f3f3f3;
    margin: 15px 0;
}
#gome-sitemap .public-dropdown dl dt{
    font: 700 14px/14px Arial,"Microsoft YaHei";
    line-height: 16px;
    margin: 0 0 14px;
}
#gome-sitemap .public-dropdown dl dd{
    overflow: hidden;
    min-height: 120px;
}
#gome-sitemap .public-dropdown dl dd ul{
    float: left;
    width: 75px;
}
#gome-sitemap .public-dropdown dl dd ul li{
    width: 100%;
    text-align: left;
    font: 12px/24px Arial,"Microsoft YaHei";
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #888888;
}
#gome-sitemap .public-dropdown dl:nth-of-type(5) dd{
    max-width: 64px;
}

#gome-phone{
    width: 104px;
}

#gome-phone .public-dropdown{
    display: none;
    background: #FFFFFF;
    border: 1px solid #e6e6e6;
    top: -1px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    font-size: 0;
    width: 130px;
    height: 170px;
    right: 58px;
}
#gome-phone .public-dropdown span{
    width: 100%;
    height: 100%;
    display: block;
    background: url("../../img/lh_img/ui.png")no-repeat 0 -799px;
}



#gome-service b em {
    transform: scale(0.9);
    font-size: 17px;
    color: #dd00a7;
    background: url('../../img/lh_img/kefu.png')no-repeat;
    background-position-y: center;
    background-size: 100%;
    line-height: 30px;
    height: 20px;
    top: 0;
}
#gome-phone b em {
    transform: scale(0.8);
    font-size: 17px;
    color: #dd00a7;
    background: url('../../img/lh_img/shouji.png')no-repeat;
    background-position-y: center;
    background-size: 100%;
    line-height: 30px;
    height: 20px;
    top: 0;
}
.gome-head{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 120px;
    vertical-align: middle;
}
.gome-head #logo{
    float: left;
    margin: 32px 10px 0 0;
}
.gome-head #logo a{
    display: block;
    width: 125px;
    height: 56px;
    background: url('../../img/lh_img/logo.png') 0 0 no-repeat;
    text-indent: -99px;
    overflow: hidden;
}
.gome-head #topSearch{
    position: absolute;
    width: 500px;
    top: 32px;
    left: 385px;
    z-index: 91;
}
#topSearchHover{
    border: 1px solid #dd00a7;
    position: relative;
    font-size: 14px;
    height: 30px;
    background: #fff;
}
#topSearchHover .findmain{
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #A5A5A5;
    float: left;
    width: 62px;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #dd00a7;
}
#topSearchHover .findmain span{
    padding-left: 10px;
}
#topSearchHover .findmain i{
    position: absolute;
    width: 11px;
    height: 7px;
    right: 9px;
    top: 11px;
    background: url('../../img/lh_img/ui.png') -145px -1469px;
}
#topSearchHover #input_keywords{
    outline: none;
    border: none;
    width: 310px;
    padding: 5px 5px 5px 10px;
    line-height: 20px;
    float: left;
    font-size: 14px;
    font-family: arial;
    color: #5E5E5E;
    background-color: transparent;
}
#input_keywords::-webkit-input-placeholder{
    color: #bbbbbb;
}
#topSearchHover button{
    width: 90px;
    height: 30px;
    border: none;
    cursor: pointer;
    float: right;
    display: inline;
    background: #dd00a7;
    font: 16px/30px 'microsoft yahei';
    color: #fff;
    letter-spacing: 2px;
    text-indent: 0;
}
#topSearchHover .voice-search{
    margin-right: 3px;
    opacity: .55;
    filter: alpha(opacity=55);
    float: right;
    padding: 5px 0;
    cursor: pointer;
    width: 15px;
    height: 20px;
    background: url('../../img/lh_img/sounds.png') no-repeat no-repeat center;
    background-size: 13px 19px;
}

#topSearch .hotkeyword a{
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    line-height: 14px;
    color: #A5A5A5;
    font: 400 12px/30px Arial,"Microsoft YaHei"
}
#topSearch .hotkeyword a.highlight{
    color: #f5004b;
}
.gome-head .shop_car_none{
    position: absolute;
    right: 0;
    top: 32px;
    z-index: 92;
    width: 240px;
}
.shop_car_box .car{
    position: absolute;
    width: 27px;
    height: 20px;
    background: url('../../img/lh_img/ui.png') -100px -701px;
    top: 11px;
    left: 10px;
}
.shop_car_box .shop_num{
    position: absolute;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
    top: -18px;
    min-width: 14px;
    text-align: center;
    left: 15px;
    background-color: #A5A5A5;
    color: #FFF;
    font-weight: 700;
    font: 12px/1.5 arial,"\65b0\5b8b\4f53";
}

.shop_car_box .shop_num i{
    position: absolute;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: transparent transparent transparent #A5A5A5;
    border-right: 0;
    border-left-style: solid;
    overflow: hidden;
    bottom: -4px;
    left: 5px;
}
.shop_car_box #hdrcarttext{
    color:#5E5E5E ;
}
.shop_car_box a b{
    z-index: 96;
    position: absolute;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #5E5E5E transparent transparent;
    border-bottom: 0;
    border-top-style: solid;
    top: 19px;
    right: 10px;
    overflow: hidden;
}
.gome-head .shop_car_none a{
    position: relative;
    float: right;
    text-decoration: none;
    padding: 5px 20px 0 45px;
    line-height: 34px;
    height: 34px;
    width: 75px;
}







.category-box{
    height: 40px;
    border-bottom: 1px solid #dd00a7;
    background: #f8f8f8;
}
.category-main{
    height: 40px;
    width: 1200px;
    margin: 0 auto;
}
.category-main::after{
    content: '';
    display: block;
    clear: both;
}
.sidecategory{
    float: left;
    position: relative;
    width: 200px;
    height: auto;
}
.sidecategory h2{
    width: 185px;
    height: 38px;
    background: #f1f1f1;
    float: left;
    opacity: .9;
    line-height: 40px;
    color: #585858;
    font-family: 'Microsoft YaHei';
    font-weight: 700;
    font-size: 15px;
    padding-left: 15px;
}
.sidecategory #navBox{
    width: 200px;
    height: 450px;
    position: relative;
    top: 41px;
    z-index: 1;
}
.sidecategory #navBox ul{
    width: 100%;
    background: #333;
    opacity: .7;
    position: absolute;
}
.sidecategory #navBox ul li{
    width: 100%;
    margin-top: 1px;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
}
.sidecategory #navBox ul li h3{
    position: relative;
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1px;
}
.sidecategory #navBox ul li h3 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Microsoft YaHei',arial;
    font-weight: 200;
    display: inline-block;
    margin-right: 3px;
}
.sidecategory #navBox .subnav{
    display: block;
    background-color: #FFFFFF;
    min-height: 448px;
    max-height: 515px;
    position: absolute;
    top: 0;
    left: 200px;
    width: 1000px;
    z-index: 1;
}


.category-main .main_nav{
    float: left;
    height: 38px;
    width: 800px;
    overflow: hidden;
    position: relative;
}
.category-main .main_nav li{
    position: relative;
    float: left;
    padding: 0 13px;
    text-align: center;
    line-height: 38px;
    white-space: nowrap;
}
.category-main .main_nav li:nth-of-type(1) a {
    color: #f5004b;
}

.category-main .main_nav li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 40px;
    font-family: 'Microsoft YaHei';
}